html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

#unity-container {
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;

    background: white;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

#loading-ring {
    position: relative;
    width: 40vw;
    /* 40% от ширины экрана */
    height: 40vh;
    /* 40% от высоты экрана */
    max-width: 40%;
    /* Максимальная ширина */
    max-height: 40%;
    /* Максимальная высота */
}

#loading-ring svg {
    width: 100%;
    height: 100%;
}

#loading-ring img {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Warning Modal */
.warning-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    display: none;
}

.warning-modal-content {
    background-color: white;
    padding: 5vw;
    /* Относительные отступы */
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#warning-message {
    margin-bottom: 2vw;
    font-size: calc((100vw - 300px) / (1920px - 300px) * (5rem - 1rem) + 1rem);
    color: #333;
}

.warning-buttons {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.warning-buttons button {
    background-color: #7d3aed;
    color: white;
    padding: 2vw 4vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: calc((100vw - 300px) / (1200px - 300px) * (5rem - 1rem) + 1rem);
}

.warning-buttons button:hover {
    background-color: #8d50ef;
}